[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = "*"
scipy = "*"
set2net = {editable = true, path = "."}

[dev-packages]
coverage = "*"
hypothesis = "*"
pytest = "*"

[requires]
python_version = "3.9"
